PORT=4000
# DB_URL="mongodb+srv://dbuser:botifier@cluster0.fnq14rt.mongodb.net/?retryWrites=true&w=majority"
DB_URL="mongodb://127.0.0.1:27017/mindscape"
TOKEN_KEY="sdfghjk2gfdhfrgf5ygurg76dg3943urxf"
EXPIRES_IN= "24h"
SENT_MAIL=true
EMAIL=tiwarilalit2601@gmail.com
EMAIL_PASSWORD=wfdpsmxngnxefswv
EMAIL_FROM_NAME=mindscape Support
EMAIL_FROM_ADDRESS=support@mindscape.com
BACKEND_URL=http://localhost:4000
PROD_SERVER=false