<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Botifier</title>
 <style type="text/css">
      body {
          font-family: Avenir Next LT W01 Bold,sans-serif;
      }
      .main-table {
          padding: 40px 50px;
      }
      .main-content {
          padding: 40px 60px;
      }
      .logo {
        width: 130px; 
        height: 130px;
      }
      .list {
          display: block;
          padding-left: 40px;
          max-width: 90%;  
      }
      .list ul {
          columns: 3;
          padding-left: 15px;
      }
      .list ul li {
        font-size: 14px;
        line-height: 16px;
      }
      @media only screen and (max-width:995px) {
        .main-table {
            padding: 30px 30px;
        }
        .main-content {
            padding: 40px 40px;
        }  
        .logo {
            width: 100px !important;
            height: 100px !important;
        }
        .list {
            max-width: 80%;
            padding-left: 10px;
        }
        .list ul {
            columns: 2;
        }
        .footer {
            text-align: center;
            margin-top: 20px;
            color: #333;
    }
      }
      @media only screen and (max-width:620px) {
        .main-table {
            padding: 30px 10px;
        }
        .main-content {
            padding: 30px 30px;
        }  
        .list {
            max-width: 100%;
        }
        .logo {
            width: 70px !important;
            height: 70px !important;
        }
        .list ul {
            columns: 1;
        }
      }
  </style>
</head>

<body>
   <table style="width: 100%; background-color : #2a3042;" class="main-table">
    <tr valign = "middle" style="width: 100%;">
        <td style="width:100%;">
            <table class="main-content" style="background-color: white; width: 100%; border-radius: 16px; text-align:center;">
                <tr style = "width: 100%;" valign="middle">
                    <td style="display: inline-flex;">
                        <span class="logo" style = "background-image: url('https://media.istockphoto.com/id/1010001882/vector/%C3%B0%C3%B0%C2%B5%C3%B1%C3%B0%C3%B1%C3%B1.jpg?s=612x612&w=0&k=20&c=1jeAr9KSx3sG7SKxUPR_j8WPSZq_NIKL0P-MA4F1xRw=');object-fit: fill;pointer-events: none; background-repeat: no-repeat;background-size: 100% 100%;"></span>
                    </td>
                    <!-- <td style="display : inline;">
                        <h1 style="display: inline-block; margin-top: 0px; margin-bottom: 0px; font-size: 30px; line-height: 34px; margin-left: 10px;">Botifier</h1>
                    </td> -->
                </tr>
                <tr style=" margin-top: 10px;">
                    <td>
                         <h1>Welcome to Mindscape !</h1>
                    </td>
                </tr>  
                  <tr >
                    <td>
                         <p>We are excited to have you as a member of our community.</p>
                         <p>Thank you for joining Mindscape. We're here to help you explore and learn!</p>
                         <p>Click the link below to get started:</p>
                    </td>
                </tr>  
              <tr style="display: block; width: 100%;text-align:center;">
                    <td class="list">
                       <p><a href="<%= url %>" style="text-decoration: none;display: inline-block;padding: 10px 20px;background-color: #4CAF50;color: white;border-radius: 8px;font-size: 18px;font-weight: bold; ">Click here</a></p>
                    </td>
                </tr>
                <tr>
                    <p>If you're still having trouble logging in, please contact mindscape support team 
                        <!-- via Telegram at @botifier_tech_support_bot. -->
                    </p>
                    <p class="footer">Thank you,<br>The Mindscape Team</p>
                </tr>
            </table>
        </td>
    </tr>
</table>
</html>
